# --- Flutter / Dart ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
# If you use code generation (like Freezed or Lark), ignore these
*.g.dart
*.freezed.dart

# --- Firebase & Secret Keys ---
# Ignore your configuration files to prevent leaking project IDs/API keys
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# --- Environment Variables ---
.env
.env.*
secret.json

# --- Android ---
.gradle/
local.properties
*.keystore
*.jks
captures/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# --- iOS ---
*.moved-aside
*.swp
*.lock
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
Pods/
.build/
ServiceDeviceRepo/
*.moved-aside
Podfile.lock

# --- IDEs & OS Tools ---
.vscode/
.idea/
*.iml
*.iws
.history/
.DS_Store
Thumbs.db

# --- Log files ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*